# Bollenger Band Algo

In [1]:
# so default set up
import numpy as np
import pandas as pd
from pylab import plt
from sklearn import linear_model
plt.style.use('seaborn')
#matplotlib inline

data_url = 'http://hilpisch.com/tr_eikon_eod_data.csv'
raw = pd.read_csv(data_url, index_col=0,parse_dates=True)
raw.dropna(inplace=True)

symbols = 'EUR='

data = pd.DataFrame(raw[symbols])

data['Returns'] = np.log(data[symbols] / data[symbols].shift(1))
data.dropna(inplace=True)

data['Direction'] = np.sign(data['Returns'])

lags = 5
cols = []
for lag in range(1, lags+1):
    col = 'lag_{}'.format(lag)
    data[col] = data['Returns'].shift(lag)
    cols.append(col)

data.dropna(inplace=True)

data.head()

,EUR=,Returns,Direction,lag_1,lag_2,lag_3,lag_4,lag_5
Date,,,,,,,,
2010-01-12,1.4494,-0.001310,-1.0,0.006984,0.006544,-0.006544,0.003058,-0.002988
2010-01-13,1.4510,0.001103,1.0,-0.001310,0.006984,0.006544,-0.006544,0.003058
2010-01-14,1.4502,-0.000551,-1.0,0.001103,-0.001310,0.006984,0.006544,-0.006544
2010-01-15,1.4382,-0.008309,-1.0,-0.000551,0.001103,-0.001310,0.006984,0.006544
2010-01-19,1.4298,-0.005858,-1.0,-0.008309,-0.000551,0.001103,-0.001310,0.006984